{% extends 'bootstrap/base.html' %}

{% block title %}
  {% if title %}
    <title>{{ title }} - Shift Logs</title>
  {% else %}
    <title>Welcome to Shift Logs</title>
  {% endif %}
{% endblock %}


{% block navbar %}
  {% include 'nav.html' %}
<!--
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="row">
        <div class="col-md-3"> 
          <a href="{{ url_for('index') }}"> На главную</a>
        </div>
        <div class="col-md-7">
          Вы вошли как: {{ current_user.username }}
        </div>
        <div class="col-md-2">
          <a href="{{ url_for('logout') }}">Выход</a>
        </div>
      </div>
    </div>
  </nav>-->
{% endblock %}

{% block content %}
  <div class="container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    {% endwith %}
    {% block app_content %}{% endblock %}
  </div>
{% endblock %}
