{% extends "base.html" %}

{% block title %} {{ title }} {% endblock %}

{% block header %} {{ title }} {% endblock %}

{% block app_content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">
      {% if log.team %}
        <h2>Смена {{ log.team }}</h2>
      {% endif %} 
      {% if log.shift_time %}
        <h2>Время:  {{ log.shift_time }}</h2></h2>
      {% endif %} 
  </div> 
  <div class="panel-body">
    {% if (current_user == log.author) and log.is_active %}
      {% include 'logform.html' with context %}
    {% else %}
      {% if log.is_active %} Сейчас на смене {% endif %}
      
      <h4>Смену сдал: {{ log.author.get_full_name() }}</h4>
  
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Состав смены</h3>
        </div>
        <div class="panel-body">
          {% for item in log.team_composition %}
            {{ item }},
            {% if loop.last %}
              {{ item }}
            {% endif %}
          {% endfor %}
        </div>
      </div> 
      
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Оборудование в работе</h3>
        </div>
        <div class="panel-body">
          {% for item in log.equipment_run %}
            {{ item }},
            {% if loop.last %}
              {{ item }}
            {% endif %}
        {% endfor %}
        </div>
      </div> 
  
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Оборудование в ремонте</h3>
        </div>
        <div class="panel-body">
          {% for item in log.equipment_repair %}
            {{ item }},
            {% if loop.last %}
              {{ item }}
            {% endif %}
          {% endfor %}
        </div>
      </div>
  
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Записи в течение смены</h3>
        </div>
        <div class="panel-body">
          {{ log.oper_notes|linebreaksbr }}
        </div>
      </div>
  
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Замечания и неполадки в работе оборудования</h3>
        </div>
        <div class="panel-body">
          {{ log.defects|linebreaksbr }}
        </div>
      </div>
    {% endif %}
  </div>
  {% if not log.is_active %}
    <p>
      {% if log.is_accepted %}
        Смена принята
      {% else %}
        <a href="{{ url_for('accept_shift', id=log.id) }}" class="btn btn-primary">Принять смену</a><br>
      {% endif %}
    </p>
  {% endif %}
</div>
{% endblock %}